.myEventsContainer{

    .myEventsContent{
        margin-top: 0.5rem;
        padding: 0.5rem;
        background-color: white;
        border-radius: 1rem;
        font-weight: bold;
        
        
    }
    .ended{
        background-color:red;
        color: white;
    }
    .coming{
        background-color: orange;
        color: white;
    }
    .happening{
        background-color:rgb(47, 255, 57);
        color: white;
    }
}

@media screen and (min-width: 980px){
    .myEventsContainer{

        .myEventsContent{
            margin: 0 auto;
            width: 60%;
            max-width: 1000px;
            margin-top: 0.5rem;
            padding: 0.5rem;
            border-radius: 1rem;
        }
    }
}

